.green{
    background-color: rgb(35, 170, 35);
}

.red{
    background-color: red;
}

.blue{
    background-color: rgb(35, 136, 194);
}

.yellow{
    background-color: rgb(253, 253, 129);
    color: rgb(116, 116, 116);
}