<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar tarea por nombre"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de tareas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let task of tasks; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTask(task, i)"
      >
        {{ task.title }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" style="position: relative; margin-left: 0px !important;" (click)="removeAllTasks()">
      Eliminar todas las tareas
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTask">
      <h4>Tarea</h4>
      <div>
        <label><strong>Titulo:</strong></label> {{ currentTask.title }}
      </div>
      <div>
        <label><strong>Descripción:</strong></label>
        {{ currentTask.description }}
      </div>
      <div>
        <label><strong>Estatus:</strong></label>
        {{ currentTask.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning yellow" routerLink="/tasks/{{ currentTask.id }}">
        Editar
      </a>
    </div>

    <div *ngIf="!currentTask">
      <br />
      <p>Selecciona una tarea...</p>
    </div>
  </div>
</div>
