<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nombre de la Tarea</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="task.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="task.description"
          name="description"
        />
      </div>

      <button (click)="saveTask()" class="btn btn-success" style="margin-top: 1rem">Enviar</button>
    </div>

    <div *ngIf="submitted" style="width: 500px;" class="center">
      <h4>¡La tarea se ha enviado satisfactoriamente!</h4>
      <button class="btn btn-success" (click)="newTask()">Añadir</button>
      <a class="btn btn-success" href="/tasks" style="float: right;">Menu Principal</a>
    </div>
  </div>
</div>
